<ion-view title="Lägg till recept" id="page1" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="addRecepie-form2" class="list ">
            <label class="item item-input " id="addRecepie-input3">
                <span class="input-label">Maträtt</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-select " id="addRecepie-select1">
                <span class="input-label">Kategori</span>
                <select>
                    <option></option>
                    <option>test</option>
                    <option>test</option>
                    <option>test</option>
                </select>
            </label>
            <label class="item item-input " id="addRecepie-textarea1">
                <span class="input-label">Tre nyckelord</span><textarea placeholder=""></textarea>
            </label>
            <label class="item item-input " id="addRecepie-textarea3">
                <span class="input-label">Ingredienser</span><textarea placeholder=""></textarea>
            </label>
            <label class="item item-input " id="addRecepie-textarea2">
                <span class="input-label">Instruktioner</span><textarea placeholder=""></textarea>
            </label>
        </form>
        <button id="addRecepie-button1" class=" button button-positive  button-block ">Lägg till!</button>
    </ion-content>
</ion-view>