<ion-view title="Lägg till recept" id="page1" class=" ">
<br>
    <br>
        <br>    
        <form ng-submit="add()" id="addRecepie-form2" class="list-card ">
            <label class="item item-input " id="addRecepie-input3">
                <input ng-model="recepie.recepie" type="text" placeholder="Maträtt">
            </label>
           <label class="item item-select " id="addRecepie-select1">
                <span class="input-label">Kategori</span>
                <select ng-model="recepie.category">
                    <option></option>
                    <option>Sallad</option>
                    <option>Soppa</option>
                    <option>Kött</option>
                    <option>Fisk</option>
                    <option>Vegetariskt</option>
                </select>
            </label>
            <label class="item item-input " id="addRecepie-textarea1">
                <input ng-model="recepie.word" type="text" placeholder="Tre nyckelord">
            </label>
            <label class="item item-body " id="addRecepie-textarea3">
               <textarea class="input-label" ng-model="recepie.ingredient" placeholder="Ingredienser"></textarea>
            </label>
            <label class="item item-body " id="addRecepie-textarea2">
                <textarea class="input-label" ng-model="recepie.instruction" placeholder="Instruktioner"></textarea>
            </label>
        <button id="addRecepie-button1" class=" button button-positive  button-block " type="submit" ng-click="addRecepie()">Lägg till!</button>
    </form>
</ion-view>