<ion-view title="Maträtt" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="list card " id="dish-card21">
            <ion-item class="item-avatar  " id="dish-list-item10">
                <h2>Item</h2>
            </ion-item>
            <div class="item item-body " id="dish-list-item-container2">
                <p id="dish-null" style="margin-top:0px;color:#000000;" class=" ">Some friendly
                    <strong>markdown</strong>
                </p>
            </div>
            <ion-item id="dish-list-item14" class="  ">Ingredienser</ion-item>
            <ion-item id="dish-list-item15" class="  ">Instruktioner</ion-item>
            <form id="dish-form4" class="list ">
                <ion-item class="item-divider " id="dish-list-item-divider2">Kommentar</ion-item>
                <ion-checkbox>Lagat</ion-checkbox>
                <ion-item class="range range-positive " id="dish-range2">Range
                    <input type="range" value="50" min="0" max="100">
                </ion-item>
            </form>
        </div>
    </ion-content>
</ion-view>