<ion-view title="Maträtter" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="dishList-form3" class="list ">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="">
            </label>
        </form>
        <ion-list id="dishList-list1" class=" " >
            <ion-item class="item-divider " id="dishList-list-item-divider1">Kategori</ion-item>
        </ion-list>
        <ion-list id="dishList-list2" class="list-card ">
            <ion-item id="dishList-list-item7" class="  " ng-repeat="recipe in recepies">
                <h2> {{ newRecepie }} </h2>
                <h3> {{ newCategory }} </h3>
                <h4> {{ newWord }} </h4>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>